@charset "UTF-8";

div{ font-family: Noto Sans KR;}
table{ font-family: Noto Sans KR;}

td.buy-sangpum1{
	padding: 15px;
}


input::placeholder {
	font-size: 0.7em;
}

span {
	position: relative;
	left: -20px;
}

div.div-buy-1 {
	width: 100%;
	height: 100%;
}

div.div-buy-2 {
	width: 100%;
	height: 100%;
}


div.buy-title {
	width: 500px;
	height: 70px;
	margin: auto;
	font-weight: bold;
	font-size: 35px;
	text-align: center;
	font-family: sans-serif;
}

div.title2 {
	width: 500px;
	height: 100px;
	margin: auto;
	font-size: 15px;
	text-align: center;
	font-family: sans-serif;
	color: gray;
}

div.one {
	width: 800px;
	margin: auto;
	border-bottom: 1px solid lightgray;
}

div.div-two {
	width: 800px;
	margin: auto;
	border-bottom: 1px solid lightgray;
}

div.buy-title {
	font-weight: bold;
	font-size: 20px;
	border-bottom: 1px solid black;
}

input[type="radio"] {
	background: url(${root}/image/bg_radio.png) no-repeat 0 0;
	border: 0px;
} /* 적용 X  */
label {
	vertical-align: middle;
	cursor: pointer;
	font-size: 14px;
}

table {
	margin: auto;
}

div.shippingmsg {
	margin: auto;
	width: 800px;
	hight: 300px;
	background-color: #f0f1f2;
	border-top: 1px solid #d7d5d5;
	border-bottom: 1px solid #d7d5d5;
	padding: 14px;
}

#omessage_select {
	max-width: 100%;
	height: 40px;
	margin: 0;
	padding: 0 20px 0 8px;
	line-height: 40px;
	color: #333;
	word-break: break-all;
	font-weight: inherit;
	word-break: break-all;
	font-weight: inherit;
}

th {  
	font-size: 14px;
}

table.tg  {border-collapse:collapse;border-spacing:0; width:750px;}
.tg td{font-size:16px;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{font-family: font-family: Noto Sans KR; font-size:20px; font-weight:bold;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-lqy6{text-align:right;vertical-align:top}
.tg .tg-0lax{text-align:left;vertical-align:top}

/*주문하기 버튼*/
div.paybtn {
	width: 800px;
	height: 60px;
	background-color: black;
	padding: 8px;
	margin: auto;
	cursor: pointer;
	text-align: center;
	font-size: 30px;
	color: white;
}